@CHARSET "UTF-8";

body{
	background-image: url("../../Image/OtherImage/topbg.gif");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: 0px 0px;
	background-color: rgba(0,0,0,0);
}

#welcomeTip,#roleTip{
	background: none;
}